/*
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen Sans',
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}

// override margin bottom style on headings and paragraphs
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}

button,
button:focus {
  outline: none !important;
}
*/