// Import any necessary SCSS files or define variables if needed
@import '../abstracts/_media.scss';
@import '../constants.scss';

// Define your styles for the CustomPlugin component
.custom {
  // Styles for the main container
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;

  // Styles for the preset list container
  &_presetList {
    display: flex;
    flex-wrap: wrap;

    // Styles for each preset item
    &_presetItem {
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex-basis: calc(33.33% - 20px);
      margin-right: 10px;
      box-sizing: border-box;

      // Ensure padding and border are included in width calculation

      // Styles for preset info
      &_presetInfo {
        font-weight: bold;
        margin-bottom: 8px;
        color: #ff8000;

        // Styles for preset ID and name
        &_presetId,
        &_presetName {
          color: #000;
        }
      }

      // Styles for settings
      &_settings {
        font-weight: bold;
        margin-bottom: 8px;
        color: #000;
      }

      // Styles for table and view
      &_table,
      &_view {
        margin-left: 15px;
        margin-bottom: 5px;
        color: #ff8000;
      }
    }
  }

  // Styles for active info container
  &_activeInfo {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    // Styles for active table and view
    &_activeTable,
    &_activeView {
      font-weight: bold;
      margin-bottom: 8px;
      color: #000;
    }
  }

  // Styles for filtered rows container
  &_filteredRows {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    // Styles for each row
    &_row {
      margin-bottom: 5px;

      // Styles for row number
      &_rowNumber {
        font-weight: bold;
      }

      // Styles for row content
      &_rowContent {
        color: #ff8000;
      }
    }
  }

  &_expandableItem {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    border-bottom: 1px solid #eaeaea;
    background-color: $modal-bgColor;

    &_rows {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

   

    &_collapse_btn {
      all: unset;
      margin-right: 5px;
      cursor: pointer;
      outline: none !important;
      z-index: 9;
      margin: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    &_name_col {
      width: 200px;
      max-height: 60px;
      overflow: auto;
      text-align: start;
      font-weight: bold;
      font-size: 16px;
      padding-left: 10px;
    }
  }
  &_p {
    padding-left: 30px;
    color: $med-gray;
    font-size: 12px;
  }

  &_headerRow {
    font-size: 13px;
    display: flex;
    padding-left: 40px;
    background-color: $modal-bgColor;
    justify-content: flex-start;
    justify-content: start;
  }

  &_headerColumn {
    width: 200px;
    padding: 10px;
    text-align: start;
    background-color: $modal-bgColor;
    color: grey;
    box-sizing: border-box;
    height: 40px;
  }

  &_formatter_cell {
    width: 200px;
    max-height: 60px;
    overflow: auto;
    text-align: start;
  }
  &_formatter_cell > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
  }
  &_formatter_cell > div > div {
    padding-right: 3px;
  }
}
